body{
  font-family: "Outfit", sans-serif;
  background-color: hsl(212, 45%, 89%);
  display: flex;
  align-items: center;
  justify-content: center;


}
.container{
  background-color: hsl(0, 0%, 100%);
  display: inline-flex;
  flex-direction: column;
 padding: 15px;
 margin-top: 200px;
width: 15%;
border-radius: 20px;
text-align: center;
}
.container p{
  font-size: 15px;
}
#bold{
  font-weight: 700;
  color: hsl(218, 44%, 22%);
  font-size: 20px;
}
#normal{
  font-weight: 400;
  color: hsl(212, 45%, 70%);
}
img{
  border-radius: 20px;
}
